.input {
    height: 60px;
    width: 360px;
    padding: 24px 16px;
    background: var(--color-white);
    border-radius: var(--border-radius-default);
    border: none;
    color: var(--color-black);
    font-size: var(--font-size-default);
    font-family: var(--font-family-primary);
    line-height: 22px;
}

.input::placeholder {
    color: var(--color-ligth-gray);
}

@media only screen and (max-width: 480px) {
    .input {
        width: 220px;
        height: 48px;
        font-size: 14px;
    }
}